@import './glass.css';
@import './navigation.css';
@import './posts.css';
@import './post.css';
@import './top.css';
@import './addPost.css';
@import './profile.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  margin: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.main{
  min-height: 100vh;
  background: linear-gradient(to right top,#65dfc9, #6cdbed);
  display: flex;
  align-items: center;
  justify-content: center;
}

.active{
  background-color: #7052f9;
  color: white;
}