.nav_button {
  background: none;
  border: none;

  width: auto;
  height: 3.5rem;

  display: flex;
  align-items: center;

  border-radius: 5px;
  padding: 0.2rem;
  cursor: pointer;
  color: #44494f;

  font-size: 18px;
  font-weight: bold;

  transition: 0.6s;
}

.nav ul {
  float: left;
}

.nav_button img {
  margin-right: 0.4rem;
}

.nav_button:hover {
  background-color: #7052f9;
  color: white;
}
