.post{
  width: 25rem;
  height: 9rem;

  margin-bottom: 2rem;
  padding: 1rem;

  border-radius: 2rem;

  background: linear-gradient(to right top, rgba(255, 255, 255, 0.822), rgb(255,255,255,0.7));
  color: #474950;
}

.post h1, p{
  padding-bottom: 1rem;
}

.post button {
  background: none;
  border:none;

  display: flex;
  font-size: 1rem;

  margin-left: auto;
  margin-right: auto;

  cursor: pointer;
}

.post span {
  margin-left: 0.5rem;
}