.profile{
  width: 100%;
  height: 80vh;

  display: flex;

  padding: 0 2rem;
}

.profile_header{
  width: 30%;
  height: 40%;

  background: white;
  padding-top: 2rem;
  border-radius: 2rem;
  text-align: center;
}

.profile_header_img {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;

  padding: 0 auto;
  margin: 0 auto;

  background: rgb(233, 233, 233);
}

.profile_header_decription{
  width: 70%;
  margin-top: 0.5rem;

  display: flex;
  justify-content: space-between;

  font-size: 1.5rem;
  font-weight: bold;
  color:#44494F;
}
